{% extends 'base.html' %}

{% block container %}
  <div class="row">
    {% if request.args.get('name') %}
      <h2>Результаты поиска по запросу: {{ request.args.get('name') }}</h2>
    {% endif %}
    {% for transformer in transformers %}
      <div class="col-3 mt-3">
        <a href="{{ url_for('get_transformer_detail', transformer_id=transformer.id) }}">
          <div class="card">
            <img src="{{ transformer.image_path }}" class="card-img-top" alt="{{ transformer.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ transformer.name }}</h5>
              <p class="card-text">{{ transformer.motto }}</p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock container %}
